/* style.css */
main form i {
    opacity: 0.7;
}

main .result .name {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .temperature img {
    width: 150px;
    filter: drop-shadow(0 10px 50px #555);
}

main .temperature figcaption {
    font-size: 3em;
}

main .description {
    padding: 10px 0 30px;
}

main li {
    background-color: #f78a55;
    color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #0003 50%
    );
    font-weight: bold;
    font-size: small;
}

main ul li i {
    font-size: 2em;
    margin: 20px 0;
    display: block !important;
}

main li:nth-child(2) {
    background-color: #b56291;
}

main li:nth-child(3) {
    background-color: #48567b;
}
